.sidebar {
    flex: 1;
    border-right: 0.5px solid rgb(230,227,227);
    min-height: 100vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    position: relative;
    // justify-content: space-between;

    .top {
        background-color: #fff;
        height: 50px;
        max-height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;

        .logo {
            font-size: 20px;
            font-weight: bold;
            color: #6439ff;
        }
    }

    hr {
        height: 0px;
        border: 0.5px solid rgb(230,227,227);
    }

    .center {
        background-color: orange;
        padding-left: 10px;
        flex: 1;

        ul{
            list-style: none;
            margin: 0;
            padding: 0;
        }
    }

    .bottom {
        background-color: #6439ff;
        height: 50px;
        width: 100%;
        max-height: 50px;
        position: absolute;
        bottom: 0;
    }
}

















